html{
    height:100%;
    width:100%;
}
body{
    margin: 0 auto;
    width:90%;
    
}
#test{
    animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
.radio-padding{
    padding:2rem;
}
.modal-container{
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    height:100%;
    width:100%;
    overflow:auto;
    background-color:rgba(0,0,0,0.5);
    display:none;
    /* height:20px;
    width:20px; */
}
.modal-content{
    background-color: #f4f4f4;
    margin: 10% auto;
    width:70%;
    box-shadow: 0, 5px, 8px, 0 rgba(0,0,0,0.2), 0,7px, 20px, 0px rgba(0,0,0.17)
}
.close-btn{
    color:#000;
    text-align:right;
    margin-right:2rem;
    font-size:30px;
    text-decoration:none;
}
.close-btn:hover, close-btn:focus{
    color:rgb(1, 192, 209);
    text-decoration:none;
    cursor:pointer;
}
